
.dots {
  width: auto;
  min-width: 100px;
  height: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.dot {
  border: 2px solid #087f5b;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

.active {
  background-color: #087f5b;
}

