/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

/* 
colors:
#495057 - grey for the main blocks or images
#ced4da - for the background
#fff - white also for the backgrounds

text-colors:
#f8f9fa - light
#343a40 - dark
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  color: #343a40;
  height: auto;
  line-height: 1;
  border-bottom: 8px solid #495057;
}

/*
  COMMON COMPONENTS STYLES
*/

/* HEADER */

header {
  position: relative;
  padding: 0, 2rem;
}

.navbar {
  width: 100%;
  height: 60px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar ul {
  display: inline-block;
  display: flex;
  gap: 32px;
}

.navbar li {
  list-style: none;
  font-size: 16px;
  color: #343a40;
  /* 24 / 30 / 36 / */
}

.navbar li a {
  text-decoration: none;
  color: #343a40;
}

.logo a {
  text-decoration: none;
  font-size: 24px;
  font-weight: 600;
  color: #343a40;
}

.action-btn {
  text-decoration: none;
  /* background-color: #12b886; */
  background-color: #087f5b;
  padding: 8px 16px;
  font-size: 16px;
  border: none;
  outline: none;
  border-radius: 20px;
  color: #f8f9fa;
  font-weight: 600;
  transition: scale 0.2 ease;
}

.action-btn:hover {
  color: #343a40;
  scale: 1.02;
}

.action-btn:active {
  scale: 0.98;
}

a:hover {
  color: #12b886;
}

.navbar li a:hover {
  color: #12b886;
}

.toggle-btn {
  display: none;
  border: none;
  background-color: transparent;
  font-size: 32px;
  cursor: pointer;
}

/* DROPDOWN */

.dropdown-menu {
  display: none;
  position: absolute;
  right: 24px;
  top: 60px;
  width: 300px;
  height: 0px;
  background-color: rgba(52, 58, 64, 0.05);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown-menu.open {
  height: 240px;
}

.dropdown-menu li {
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.dropdown-menu li a {
  text-decoration: none;
  color: #343a40;
}

.dropdown-menu li a:hover {
  color: #12b886;
}

.dropdown-menu li .action-btn {
  width: 100%;
  display: flex;
  justify-content: center;
}

.dropdown-menu li .action-btn:hover {
  color: #343a40;
  scale: 1.02;
}

.dropdown-menu li .action-btn:active {
  scale: 0.98;
}

/* WELCOME HERO SECTION */

section#welcome-hero {
  margin: 48px auto;
  max-width: 1300px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 170px;
}

#welcome-hero img {
  height: 600px;
}

#welcome-hero .right-block {
  width: 500px;
  margin: auto auto;
  display: flex;
  flex-direction: column;
  gap: 48px;
  color: #343a40;

}

.right-block .btn-block {
  display: flex;
  /* justify-content: space-between; */
  /* align-items: flex-start; */
}

.right-block .btn-block .btn-one,
.right-block .btn-block .btn-two {
  padding: 14px 26px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 10px;
  border: none;
}

.right-block .btn-block .btn-one {
  background-color: #087f5b;
  color: #f8f9fa;
  margin-right: 32px;
}

#welcome-hero h1 {
  font-size: 52px;
}

#welcome-hero p {
  font-size: 20px;
  line-height: 1.5;
  font-weight: 500;
}

/* STEPS SECTION */

.steps-section {
  max-width: 1250px;
  height: auto;
  margin: 0 auto;
  margin-bottom: 144px;

  display: flex;
  flex-direction: column;
  gap: 104px;
}

.steps-section .heading-text p{
  font-size: 16px;
  font-weight: 700;

  text-transform: uppercase;
  letter-spacing: 1.5px;

  color: #087f5b;

  margin-bottom: 16px;
}

.steps-section .heading-text h1 {
  font-size: 48px;
  color: #343a40;
}

.steps-section .cards-container {
  width: 1000px;
  margin: 0 auto;
  
  display: flex;
  flex-direction: column;
  gap: 144px;
}


.steps-section .cards-container .container {
  min-height: 200px;

  display: flex;
  justify-content: space-around;
}

.steps-section .cards-container .container .box {
  min-width: 400px;

  transform: translateX(-50px);

  display: flex;
  justify-content: center;
  gap: 12px;
}

.steps-section .cards-container .container .box p {
  font-size: 72px;
  font-weight: 500;

  color: #495057;

  display: flex;
  align-items: center;
}

.steps-section .cards-container .container .box .content {
  border: 4px solid #087f5b;
}

.steps-section .cards-container .container .text {
  padding: 16px 8px;
  width: 400px;

  display: flex;
  flex-direction: column;
  gap: 12px;

}

.steps-section .cards-container .container .text h4 {
  font-size: 32px;
}

.steps-section .cards-container .container .text p {
  font-size: 18px;
  font-weight: 300;

  line-height: 1.8;
}
/* ABOUT HERO section */

.about-section {
  /* border: 2px solid #495057; */
  position: relative;
  height: 650px;
  /* background-color: rgb(206, 212, 218, 0.15); */
  display: flex;
  flex-direction: row;
  /* box-shadow: 0 0 32px rgba(0, 0, 0, 0.1); */
}

.about-left{
  width: 50%;
}

.about-right{
  width: 50%;
  height: 450px;
  margin: 90px;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}

.about-right h1{
  font-size: 44px;
  color: #343a40;
}

.about-right .article-about{
  /* margin-top: 35px; */
  line-height: 2;
  padding: 30px;
  color: #343a40;
}

.img-about{
  /* background-image: url("https://images.unsplash.com/photo-1497942304796-b8bc2cc898f3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1469&q=80"); */
  background-image: url("https://images.unsplash.com/photo-1535483528327-bf88ef6e1c9e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2187&q=80");
  top: 100px;
  left: 90px;
  height: 70%;
  width: 33%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0px;
  border-radius: 15px;
  position: absolute;
}

.about-btn {
  padding: 15px 15px;
  width: 60%;
  height: 50px;
  border-radius: 10px;
  background-color: #087f5b;
  border: none;
  font-size: 20px;
  font-weight: 600;
  color: #f8f9fa;
}

/* ACCORDION SECTION */

.accordion-section {
  width: 100%;
  margin: 98px auto;
  max-width: 1000px;
  /* background-color: rgb(206, 212, 218, 0.15); */
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.accordion-section .accordion-item {
  padding: 24px;
  border-radius: 15px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 24px;
  row-gap: 32px;
  /* align-items: center; */
  /* justify-content: baseline; */
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.1);
  height: 78px;
  transition: height 0.2s;
  cursor: pointer;
}

.accordion-section .number {
  font-size: 30px;
  font-weight: 500;
}

.accordion-section .text {
  margin-top: 3px;
  font-size: 24px;
  font-weight: 500;
}

.accordion-section .icon {
  width: 24px;
  height: 24px;
}

.accordion-section .hidden-text {
  grid-column: 2;
  display: none;
  overflow: hidden;
}

.accordion-section .hidden-text p {
  margin-bottom: 24px;
  line-height: 1.5;
}

.accordion-item .hidden-text ul {
  margin-left: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.accordion-item .icon-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  rotate: 90deg;
  transition: ease 0.2s;
}

.accordion-section .accordion-item.open {
  height: 315px;
}

.open {
  border-top: 4px solid #087f5b;
}

.open .number,
.open .text{
  color: #087f5b;
}

.open .icon-btn{
  rotate: 0deg;
  transition: ease 0.2s;
}

.open .hidden-text {
  display: block;
  height: auto;
}

/* TOURS_CAROUSEL_SECTION */

.tours-carousel-component {
  margin: 98px auto;
  max-width: 1250px;
  position: relative;
}

.heading-block {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 80px;
}

.heading-block p {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1.5px;
  color: #087f5b;
}

.heading-block h2 {
  font-size: 48px;
}

.single-tour {
  display: flex;
  height: auto;
  border-radius: 10px;
  border: 2px solid #087f5b84;
  padding: 25px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.single-tour .left {
  display: flex;
  flex-direction: column;
}

.single-tour .left .top-container{
  height: 85%;
  width: 70%;
  margin: 0 auto;
  /* margin-left: 30px; */
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 12px;
  /* transform: translateX(100px); */
  transition: transform 2s;
}

.single-tour .left .top-container strong{
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 2px;
  padding-bottom: 4px;
  border-bottom: 2px solid #087f5b;
}

.single-tour .left .top-container h1 {
  font-size: 36px;
  color: #343a40;
}

.single-tour .left .top-container .text {
  width: 75%;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 300;
}

.single-tour .left .btn {
  width: 25%;
  border: none;
  padding: 10px 5px;
  background-color: #087f5b;
  font-size: 14px;
  font-weight: 600;
  /* letter-spacing: 1px; */
  border-radius: 10px;
  color: #f8f9fa;
  cursor: pointer;
}


.single-tour .left .controls{
  height: 15%;
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 48px;
}

.single-tour .left .controls .c-btn {
  width: 80px;
  height: 30px;
  padding: 2px 5px;
  border: none;
  border-radius: 10px;
  background-color: #087f5b;
  color: #f8f9fa;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

.c-btn .btn-icon {
  width: 20px;  
  height: 20px;
}


.dots {
  width: auto;
  min-width: 100px;
  height: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.dots .dot {
  border: 2px solid #087f5b;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

.dots .dot.active {
  background-color: #087f5b;
}

.single-tour .left .controls .btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.tours-carousel-component .left {
  width: calc(1250px - 450px);
  /* height: 400px; */
}

.tours-carousel-component .right {
  width: auto;
}

.tours-carousel-component .right img {
  height: 450px;
  /* transform: scale(1.5); */
  border-radius: 10px;
  display: block;
  margin: 0 auto;
}

.tours-carousel-component a,
.tours-carousel-component a:visited {
  margin-top: 80px;
  max-width: 120px;
  display: flex;
  justify-content: center;
  gap: 10px;
  text-decoration: none;
  color: #087f5b;
  border-bottom: 1px solid #087f5b;
  transition: all 0.3s;
}

.tours-carousel-component a:hover {
  color: #087f5b;
  border-bottom: none;
}


/* Numbers-Component */

.numbers-component {
  margin: 250px auto;
  margin-bottom: 0;
  min-height: 600px;
  /* background-color:  rgb(206, 212, 218, 0.15); */

  position: relative;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.numbers-component h2 {
  position: absolute;
  top: -50px;
  font-size: 56px;
  color: #343a40;
}

.numbers-component .heading-text {
  position: absolute;
  top: -75px;
  font-weight: 700;
  color: #087f5b;
  letter-spacing: 2px;
}

.single-card {
  width: 330px;
  height: 400px;
  border-radius: 10px;
  padding: 24px 24px;
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.1);
  color: #495057;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  justify-content: center;
}

.single-card h1 {
  font-size: 64px;
  border-bottom: 4px solid #087f5b;
}

.single-card strong {
  font-size: 26px;
}

.single-card p {
  font-size: 18px;
  line-height: 1.5;
  /* margin: 0 auto; */
  text-align: center;
}

.single-card svg {
  width: 60px;
  height: 60px;
  /* stroke: #087f5b; */
  color: #087f5b;
}


/* Offer-Section */

.offer-section {
  max-width: 1250px;
  height: 300px;

  margin: 0 auto;
  margin-top: 80px;
  padding: 40px 0;

  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  background-color: #f8f9fa;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.offer-section h1 {
  width: 650px;

  text-align: center;

  font-size: 40px;
}

.offer-section p {
  font-size: 16px;
  font-weight: 300;
}

.offer-section .input {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.offer-section input{
  width: 360px;
  height: 40px;
  padding-left: 8px;

  border-radius: 10px;
  border: 1px solid #087f5b;

  font-size: 16px;
}

.offer-section button {
  width: 150px;
  height: 40px;

  font-size: 16px;
  font-weight: 600;

  border-radius: 10px;
  border: none;
  background-color: #087f5b;
  color: #f8f9fa;
}

/* CONTACT FORM */

.contact-form {
  width: 100%;
  height: 600px;
  padding: 96px 64px;

  background-color: #f8f9fa;
  
  display: flex;
}

.contact-form .left,
.contact-form .right {
  width: 50%;
}

.contact-form .left {
  margin-left: 48px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.contact-form .left .location {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.contact-form .left .location h1{
  font-size: 42px;
}

.contact-form .left .location p {
  width: 400px;

  font-size: 18px;
  line-height: 2;
}

.contact-form .left .social-links {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.contact-form .left .social-links strong {
  font-size: 32px;
}

.contact-form .left .social-links .icons {
  display: flex;
  gap: 24px;
}

.contact-form .left .social-links .icons a:link,
.contact-form .left .social-links .icons a:visited {
  width: 28px;
  color: #343a40;
}

.contact-form .left .social-links .icons a:hover {
  color: #087f5b;
}

.contact-form .left .social-links .icons a svg {
  width: 28px;
  height: 28px;
}

.contact-form .right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-form .right form {
  width: 80%;

  margin: 0 auto;
  
  display: flex;
  flex-direction: column;
  gap: 32px;

}

.contact-form .right form input {
  height: 34px;
  padding: 4px;

  border: 1px solid #495057;
  border-radius: 10px;

  font-size: 16px;
}

.contact-form .right form textarea {
  padding: 4px;

  border-radius: 10px;
  
  font-size: 16px;
  font-family: "Inter", sans-serif;
}

.contact-form .right form button {
  width: 248px;
  height: 48px;
  padding: 12px 0px;

  border-radius: 10px;
  border: none;

  font-size: 18px;
  font-weight: 600;

  background-color: #087f5b;
  color: #f8f9fa;
}


/* RESPONSIVE */
@media(max-width: 992px) {
  .navbar ul,
  .navbar .action-btn{
    display: none;
  }

  .navbar .toggle-btn {
    display: block;
  }

  .dropdown-menu {
    display: block;
  }


}

@media(max-width: 576px) {
  .dropdown-menu{
    left: 24px;
    width: unset;
  }
}

